body {
    margin-top: 100px!important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4db6ac!important;
    border-color: black!important;
}

.page-item a:hover {
    color: #4db6ac!important;
}

.page-item a {
    color: black!important;
}

.submit-csv-label {
    cursor: pointer;
}